<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div class="topnav-left">
      <a class="navbar-brand"><img class="img-responsive navbar-brand" id="logo" src="https://i.pinimg.com/originals/af/aa/8f/afaa8f5384fdc8c23ec0431b621b64e6.jpg"></a>
      <a style="margin-right: 20px; text-decoration: none; color: white"><b>Administración de Gastos</b></a>
    </div>
  </div>
</nav>



<div class="container" style="margin-top:100px">
  <div style="max-height:700px; width:70%">
    <h2 style="margin-bottom:30px; border-bottom:solid; padding-bottom:20px">Ingreso de Datos</h2>
    <h6 style="text-decoration: none; color: black">Monto</h6>
    <div class="input-group mb-3" style="margin-top:10px">
      <span class="input-group-text">$</span>
      <input type="text" class="form-control" [(ngModel)]="monto">
    </div>
    <h6 style="text-decoration: none; color: black">Descripción</h6>
    <div class="input-group mb-3" style="margin-top:10px">
      <input type="text" class="form-control" [(ngModel)]="descripcion">
    </div>
    <h6 style="text-decoration: none; color: black">Responsable</h6>
    <div class="input-group mb-3" style="margin-top:10px">
      <input type="text" class="form-control" [(ngModel)]="responsable">
    </div>
    <h6 style="text-decoration: none; color: black">Departamento</h6>
    <div class="input-group mb-3" style="margin-top:10px">
      <input type="text" class="form-control" [(ngModel)]="departamento">
    </div>
    <button type="button" class="btn btn-secondary" (click)="cargarDatos()">Cargar</button>
  </div>
</div>
